@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* Scrollbar styling for Webkit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #52525b; /* zinc-600 */
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #71717a; /* zinc-500 */
}

/* For dark mode */
.dark ::-webkit-scrollbar-thumb {
  background: #3f3f46; /* zinc-700 */
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #52525b; /* zinc-600 */
}
